@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  padding: 2rem;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 468px) {
  /* For mobile phones: */
 html{
  padding: 1rem;
}
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

